<% include ./header2.ejs %>
<link rel="stylesheet" href="/stylesheets/index.css">
  
<div class="contents">
  <div class="hide">
    <div class="hide">
        <div class="main">
          <div class="login-box">
        <h1>Welcome to Pintrest part-2</h1>
        <form action="/login" method="post">
          <input type="text" name="username" placeholder="username" class=" block w-full px-3 py-2">
          <input type="password" name="password" placeholder="password" class=" block w-full px-3 py-2">
          <input type="submit" class="block w-full bg-red-600 px-3 py-2 text-white submit">
        </form>
        <a href="/register">Dont have an account ?</a>
          </div>
        </div>
      </div>  </div>
  
  <div class="hero">
    <img src="/images/dot-bg.png" alt="" />
    <div class="contents">
      <!-- Your content goes here -->hlo
      
    </div>  </div>

  <div id="scroller">
    <div id="scroller-in">
        <h4>SAFE</h4>
        <h4>SECURE</h4>
        <h4>RELIABLE</h4>
        <h4>TRUSTED</h4>
      </div>
      <div id="scroller-in">
        <h4>SAFE</h4>
        <h4>SECURE</h4>
        <h4>RELIABLE</h4>
        <h4>TRUSTED</h4>
      </div>  </div>

      <div class="cards">
        <h1>WHO IS THIS PLATFORM FOR?</h1>
      <div class="card">
        <div class="front">
          <p>card-1</p>
          <div class="know-more">
            <button>Know More</button>
          </div>
        </div>
        <div class="back">
          <p>Back Side: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="know-more">
            <button>Go Back</button>
          </div>
        </div>
      </div>
       <div class="card">
        <div class="front">
          <p>card-2</p>
          <div class="know-more">
            <button>Know More</button>
          </div>
        </div>
        <div class="back">
          <p>Back Side: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="know-more">
            <button>Go Back</button>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="front">
          <p>card-3</p>
          <div class="know-more">
            <button>Know More</button>
          </div>
        </div>
        <div class="back">
          <p>Back Side: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <div class="know-more">
            <button>Go Back</button>
          </div>
        </div>
      </div>
    </div>

    <div class="growth">
        <div class="growthleft"></div>
        <div class="growthright">
         <img src="/images/globe.png" alt="">
        </div>
      </div>
</div>

<% include ./footer.ejs %>
</body>

<!-- Your script goes here -->
<script>
const btn = document.querySelector("#btn_login"); // Corrected to select the button by ID
const hide = document.querySelector(".hide");
var flag=0;
btn.addEventListener("click", function() {
  if(flag==0){
    hide.style.display = "block";
flag=1;
  }
  else{
    hide.style.display = "none";
flag=0;
  }
});</script>
</html>
