<% include ./header2.ejs %>
<link rel="stylesheet" href="/stylesheets/index.css">
  
  <div class="hide">
    <div class="main">
      <div class="login-box">
    <h1>Welcome to Pintrest part-2</h1>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="username" class=" block w-full px-3 py-2">
      <input type="password" name="password" placeholder="password" class=" block w-full px-3 py-2">
      <input type="submit" class="block w-full bg-red-600 px-3 py-2 text-white submit">
    </form>
    <a href="/register">Dont have an account ?</a>
      </div>
    </div>
  </div>
        <!-- login ends from here -->

  
  
      <div class="contents">
<div class="hero">
<img src="/images/dot-bg.png" alt="">
</div>

<div id="scroller">
  <div id="scroller-in">
    <h4>SAFE</h4>
    <h4>SECURE</h4>
    <h4>RELIABLE</h4>
    <h4>TRUST</h4>
  </div>
  <div id="scroller-in">
    <h4>SAFE</h4>
    <h4>SECURE</h4>
    <h4>RELIABLE</h4>
    <h4>TRUST</h4>
  </div>
</div>



  <div class="cards">
    <h1>WHO IS THIS PLATFORM FOR?</h1>
  <div class="card">
    <div class="front">
      <p>card-1</p>
      <div class="know-more">
        <button>Know More</button>
      </div>
    </div>
    <div class="back">
      <p>Back Side: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="know-more">
        <button>Go Back</button>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="front">
      <p>card-2</p>
      <div class="know-more">
        <button>Know More</button>
      </div>
    </div>
    <div class="back">
      <p>Back Side: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="know-more">
        <button>Go Back</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="front">
      <p>card-3</p>
      <div class="know-more">
        <button>Know More</button>
      </div>
    </div>
    <div class="back">
      <p>Back Side: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="know-more">
        <button>Go Back</button>
      </div>
    </div>
  </div>
</div>

<div class="growth">
  <div class="growthleft">

  </div>
  <div class="growthright">
   <img src="/images/globe.png" alt="">
  </div>
</div>


<div class="faq-section">
  <div class="faq-item">
    <input type="checkbox" id="faq1">
    <label for="faq1" class="faq-question">What is your return policy?</label>
    <div class="faq-answer">
      Our return policy allows returns within 30 days of purchase. Please refer to our detailed return policy for more information.
    </div>
  </div>

  <div class="faq-item">
    <input type="checkbox" id="faq2">
    <label for="faq2" class="faq-question">How do I track my order?</label>
    <div class="faq-answer">
      Once your order is shipped, you will receive a tracking number via email. You can track your order using this number on our website.
    </div>
  </div>
  <div class="faq-item">
    <input type="checkbox" id="faq2">
    <label for="faq2" class="faq-question">How do I track my order?</label>
    <div class="faq-answer">
      Once your order is shipped, you will receive a tracking number via email. You can track your order using this number on our website.
    </div>
  </div>
  <div class="faq-item">
    <input type="checkbox" id="faq2">
    <label for="faq2" class="faq-question">How do I track my order?</label>
    <div class="faq-answer">
      Once your order is shipped, you will receive a tracking number via email. You can track your order using this number on our website.
    </div>
  </div>
  <div class="faq-item">
    <input type="checkbox" id="faq2">
    <label for="faq2" class="faq-question">How do I track my order?</label>
    <div class="faq-answer">
      Once your order is shipped, you will receive a tracking number via email. You can track your order using this number on our website.
    </div>
  </div>

</div>

<footer>
  <div class="prefooter">
    <ul>
        <P>Get to know Us</P>
        <A>Career</A>
        <A>Blog</A>
        <A>Investor Relations</A>
        <A>Amazon devices</A>
        <A>Amazon</A>
    </ul>
    <ul>
        <P>Get to know Us</P>
        <A>Career</A>
        <A>Blog</A>
        <A>Investor Relations</A>
        <A>Amazon devices</A>
        <A>Amazon</A>
    </ul>
    <ul>
        <P>Get to know Us</P>
        <A>Career</A>
        <A>Blog</A>
        <A>Investor Relations</A>
        <A>Amazon devices</A>
        <A>Amazon</A>
    </ul>
    <ul>
        <P>Get to know Us</P>
        <A>Career</A>
        <A>Blog</A>
        <A>Investor Relations</A>
        <A>Amazon devices</A>
        <A>Amazon</A>
    </ul>
  </div>
  
  
  <div class="footer">
    <p>&copy; 2023 Event Registration System. All rights reserved.</p>
    <div class="social-media">
        <a href="#" class="social-icon"><img src="facebook.webp" alt="Facebook"></a>
        <a href="#" class="social-icon"><img src="twitter.png" alt="Twitter"></a>
        <a href="#" class="social-icon"><img src="instagram.png" alt="Instagram"></a>
        <a href="#" class="social-icon"><img src="linkdin.png" alt="LinkedIn"></a>
    </div>
  </div>
</footer>

</div>




<% include ./footer.ejs %>

</body>
<script>
const btn = document.querySelector("#btn_login"); /
const hide = document.querySelector(".hide");
var flag=0;
btn.addEventListener("click", function() {
  if(flag==0){
    hide.style.display = "block";
flag=1;
  }
  else{
    hide.style.display = "none";
flag=0;
  }
});
</script>
</html>
