<% include ./header2.ejs %>
<link rel="stylesheet" href="/stylesheets/index.css">
  
  <div class="hide">
    <div class="main">
      <div class="login-box">
    <h1>Welcome to Pintrest part-2</h1>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="username" class=" block w-full px-3 py-2">
      <input type="password" name="password" placeholder="password" class=" block w-full px-3 py-2">
      <input type="submit" class="block w-full bg-red-600 px-3 py-2 text-white submit">
    </form>
    <a href="/register">Dont have an account ?</a>
      </div>
    </div>
  </div>
        <!-- login ends from here -->

 
<div class="contents">
 

<div class="hero">
<img src="/images/bggif2.gif" alt="">
<h1 style="color: white; font-size: 4vw; font-weight: bold;">contents</h1>
</div>

<div id="scroller">
  <div id="scroller-in">
    <h4>SAFE</h4>
    <h4>SECURE</h4>
    <h4>RELIABLE</h4>
    <h4>TRUST</h4>
  </div>
  <div id="scroller-in">
    <h4>SAFE</h4>
    <h4>SECURE</h4>
    <h4>RELIABLE</h4>
    <h4>TRUST</h4>
  </div>
</div>
  <div class="cards">
    <h1>WHO IS THIS PLATFORM FOR?</h1>
  <div class="card">
    <div class="front">
      <p>card-1</p>
      <div class="know-more">
        <button>Know More</button>
      </div>
    </div>
    <div class="back">
      <p>Back Side: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="know-more">
        <button>Go Back</button>
      </div>
    </div>
  </div>
   <div class="card">
    <div class="front">
      <p>card-2</p>
      <div class="know-more">
        <button>Know More</button>
      </div>
    </div>
    <div class="back">
      <p>Back Side: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="know-more">
        <button>Go Back</button>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="front">
      <p>card-3</p>
      <div class="know-more">
        <button>Know More</button>
      </div>
    </div>
    <div class="back">
      <p>Back Side: Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      <div class="know-more">
        <button>Go Back</button>
      </div>
    </div>
  </div>
</div>
<div class="growth">
  <div class="growthleft">
    <!-- <div class="cursor">    
    </div> -->
  </div>
  <div class="growthright">
   <img src="/images/globe.png" alt="">
  </div>
</div>
<div class="future">
  <video src="/videos/back.mp4" autoplay muted loop></video>
  <div class="ftext">   
           <h1>Think of future</h1>
<button>Hello</button>        </div>
 </div>
 
<div class="faq-section">
  <div class="faq-item">
    <input type="checkbox" id="faq1">
    <label for="faq1" class="faq-question">What is your return policy?</label>
    <div class="faq-answer">
      Our return policy allows returns within 30 days of purchase. Please refer to our detailed return policy for more information.
    </div>
  </div>

  <div class="faq-item">
    <input type="checkbox" id="faq2">
    <label for="faq2" class="faq-question">How do I track my order?</label>
    <div class="faq-answer">
      Once your order is shipped, you will receive a tracking number via email. You can track your order using this number on our website.
    </div>
  </div>
  <div class="faq-item">
    <input type="checkbox" id="faq3">
    <label for="faq3" class="faq-question">How do I track my order?</label>
    <div class="faq-answer">
      Once your order is shipped, you will receive a tracking number via email. You can track your order using this number on our website.
    </div>
  </div>
  <div class="faq-item">
    <input type="checkbox" id="faq4">
    <label for="faq4" class="faq-question">How do I track my order?</label>
    <div class="faq-answer">
      Once your order is shipped, you will receive a tracking number via email. You can track your order using this number on our website.
    </div>
  </div>
  <div class="faq-item">
    <input type="checkbox" id="faq5">
    <label for="faq5" class="faq-question">How do I track my order?</label>
    <div class="faq-answer">
      Once your order is shipped, you will receive a tracking number via email. You can track your order using this number on our website.
    </div>
  </div>

</div>

<footer>
  <div class="prefooter">
    <ul>
        <P>Get to know Us</P>
        <A>Career</A>
        <A>Blog</A>
        <A>Investor Relations</A>
        <A>Amazon devices</A>
        <A>Amazon</A>
    </ul>
    <ul>
        <P>Get to know Us</P>
        <A>Career</A>
        <A>Blog</A>
        <A>Investor Relations</A>
        <A>Amazon devices</A>
        <A>Amazon</A>
    </ul>
    <ul>
        <P>Get to know Us</P>
        <A>Career</A>
        <A>Blog</A>
        <A>Investor Relations</A>
        <A>Amazon devices</A>
        <A>Amazon</A>
    </ul>
    <ul>
        <P>Get to know Us</P>
        <A>Career</A>
        <A>Blog</A>
        <A>Investor Relations</A>
        <A>Amazon devices</A>
        <A>Amazon</A>
    </ul>
  </div>
  
  
  <div class="footer">
    <p>&copy; 2023 Event Registration System. All rights reserved.</p>
    <div class="social-media">
        <a href="#" class="social-icon"><img src="facebook.webp" alt="Facebook"></a>
        <a href="#" class="social-icon"><img src="twitter.png" alt="Twitter"></a>
        <a href="#" class="social-icon"><img src="instagram.png" alt="Instagram"></a>
        <a href="#" class="social-icon"><img src="linkdin.png" alt="LinkedIn"></a>
    </div>
  </div>
</footer>
</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.3/gsap.min.js" integrity="sha512-7Au1ULjlT8PP1Ygs6mDZh9NuQD0A5prSrAUiPHMXpU6g3UMd8qesVnhug5X4RoDr35x5upNpx0A6Sisz1LSTXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>

var cus= document.querySelector(".cursor")
var maindiv= document.querySelector(".growthleft")

maindiv.addEventListener("mousemove",function(dets){
    cus.style.left= dets.x + "px"
    cus.style.top= dets.y + "px"

}) 
document.querySelector(".ftext button ").addEventListener("mouseover",function(){
gsap.to(".future video",{
    opacity:1,
    duration:1,
    ease :Power2

})
  })
  document.querySelector(".ftext button ").addEventListener("mouseleave",function(){
    gsap.to(".future video",{
        opacity:0,
        duration:1,
        ease:Power2
    
    })
  })
  window.addEventListener('scroll', function() {
  var cardsSection = document.querySelector('.cards');
  var header = document.querySelector('.header');
  var scrollPosition = window.scrollY || window.pageYOffset;
  var cardsSectionOffset = cardsSection.offsetTop;

  if (scrollPosition > cardsSectionOffset) {
    header.style.display = 'none';
  } else {
    header.style.display = 'flex';
  }
});
// gsap and scroll trigger




</script>
</html>
<% include ./footer.ejs %>
