<% include ./header2.ejs %>
<link rel="stylesheet" href="/stylesheets/index.css">

  <!-- login starts from here -->
  
  <div class="hide">
    <div class="main">
      <div class="login-box">
    <h1>Welcome to Pintrest part-2</h1>
    <form action="/login" method="post">
      <input type="text" name="username" placeholder="username" class=" block w-full px-3 py-2">
      <input type="password" name="password" placeholder="password" class=" block w-full px-3 py-2">
      <input type="submit" class="block w-full bg-red-600 px-3 py-2 text-white submit">
    </form>
    <a href="/register">Dont have an account ?</a>
      </div>
    </div>
  </div>
  
    <% include ./footer.ejs %>
  
      <!-- login ends from here -->
<div class="hero">

</div>


<style>
  .hide{
    height: 80vh;
    width: 80vw;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
 
 </style>
</body>
<script>

const btn = document.querySelector("#btn_login"); // Corrected to select the button by ID
const hide = document.querySelector(".hide");
var flag=0;
btn.addEventListener("click", function() {
  if(flag==0){
    hide.style.display = "block";
flag=1;
  }
  else{
    hide.style.display = "none";
flag=0;
  }
});
</script>
</html>
